@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
.tracking-in-expand{-webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}
@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

body {
    background-color: #000000;
    margin-bottom: 80px;
  }
  h1{
    font-family: 'Playfair Display', serif;
    margin-top: 80px;
    /* margin-bottom: 20px; */
    text-align: center;
    font-size: 50px;
    color: #ffc801;
  }
  .tracking-in-expand{
    margin-bottom: 80px;
  }
  .tracking-in-expand .trail {
    font-family: 'Playfair Display', serif;
    margin-bottom: 80px;
    text-align: center;
    font-size: 50px;
    color: #ffc801;
  }
  .hambuger-container {
    text-align: center;
    margin: 20px auto;
    padding: 30px;
  }

  .hambuger1,
  .hambuger2,
  .hambuger3 {
    width: 35px;
    height: 5px;
    background-color: #89352a;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .hambuger-container {
    display: inline-block;
    cursor: pointer;
    
  }
  .change .hambuger1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .hambuger2 {
    opacity: 0;
  }
  
  .change .hambuger3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  
  div > p {
    list-style-type: none;
    padding: 8px 0;
  }
  div > p > a {
    text-decoration: none;
    color:#da6505;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
  }
  
  .nav{
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
  }
  
  div > p > a:hover {
    font-weight: bold;
  }
  
  .change{
    display: block;
  }
  
  .menu-bg, #menu-bar{
    top:0;
    left:0;
    position: absolute;
  }
  .menu-bg{
    z-index: 1;
    width:0;
    height:0;
    background: radial-gradient(circle, #ffc801,#ffc801);
    border-radius: 30%;
    transition: 0.3s ease;
  }
  #menu-bar{
    z-index: 2;
  }
  .change-bg{
    width: 550px;
    height: 480px;
    transform: translate(-60%, -30%);
    margin: 30px 0 50px 40px;
  }

  

  *,
  *:after,
  *:before {
    padding: 0;
    margin: 0;
    font-family: Arial;
  }
  
  ul {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 80px;
    list-style: none;
    width: 955px;
    height: 450px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 1px 1px 3px 1px;
  }
  
  li {
    position: relative;
    width: 190px;
    height: 450px;
    float: left;
    /* border-left: 1px solid white; */
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    box-shadow: -2px 0 10px 2px;
  }
  
  ul li:first-child {
    border: none;
  }
  
  span {
    display: block;
    position: absolute;
    bottom: 0;
    width: 50%;
    color: white;
    white-space: nowrap;
    padding: 20px;
    background: -moz-linear-gradient(
      left,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0) 100%
    ); /* FF3.6+ */
    /* background: -webkit-gradient( */
      /* linear,
      left top,
      right top, */
      /* color-stop(0%, rgba(0, 0, 0, 0.65)), */
      /* color-stop(100%, rgba(0, 0, 0, 0)) */
     /* Chrome,Safari4+ */
 
  }
  
  img {
    width: 800px;
    height: 450px;
  }
  
  ul:hover li {
    width: 50px;
  }
  
  ul li:hover {
    width: 750px;
  }
  
  ul::after { content: ''; display: table; clear: both }

  video {
      margin-left: 110px;
  }
  
  
  



/* body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    font-size: 18px;
    color: white;
    
} */

.wrapper {
    /* background-color: #46524A; */
    margin: 30px 10px;
    padding: 20px 20px;
    border: 0 solid;
    border-radius: 6px;
}

/* Title and Navbar */
#main {
    text-align: center;
    cursor: default;
}

#title {
    color: #f6b150;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Futura';
}

#main p {
    margin-top: -20px;
}

#navbar {
    margin: 30px 0 30px;
    padding: 0;
}

#navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

#navbar li, #navbar a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    display: flex;
    padding: 0 5px;
}

#navbar a:hover {
    color: #f6b150;
    text-decoration: underline;
}

/* Image with Caption */
#img-div {
    background-color: white;
    border: 0 solid;
    border-radius: 5px;
    padding: 10px;
    margin: 0 30px;
}

#image {
    max-width: 100%;
    display: block;
}

#img-caption {
    text-align: center;
    color: #161616;
    font-size: 15px;
}

/* About */
#tribute-info {
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
}

#tribute-info h2 {
    color: #f6b150;
}

#tribute-info ul {
    text-align: left;
}

.bio {
    list-style: none;
    margin: 0;
    padding: 0;
}

.year {
    color: #f6b150;
    font-weight: bold;
}

/* Films */
#films {
    text-align: center;
    color: #f6b150;
    max-width: 100%;
    width: 1000px;
    margin: 20px auto;

}

#container {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(3, 420px);
    justify-content: center;
}

#container img {
    max-width: 100%;
    width: 400px;
    height: 420px;
}

/* Quote & Wiki */
.quote, .wiki a {
    color: #f6b150;
}

.quote {
    margin: 40px 0 20px;
}

.quote, .wiki {
    text-align: center;
}

/* credits */
.credits {
    color: #161616;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}
.anderson img{
    margin-left: 365px;
}
.profile {
    font-family: 'Playfair Display', serif;
    margin-bottom: 80px;
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    color: #ffc801;
}
